<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.ChooseTwoProducts"/>
      <class name="tests.SignUpFailed"/>
      <class name="tests.PlaceOrderNoProduct"/>
      <class name="tests.SendContactNoDetails"/>
      <class name="tests.BaseTest"/>
      <class name="tests.LoginSucceed"/>
      <class name="tests.LoginFailed"/>
      <class name="tests.DeleteOrderTest"/>
      <class name="tests.SendContactTest"/>
      <class name="tests.ChooseProductTest"/>
      <class name="tests.PlaceOrderTest"/>
      <class name="tests.PlaceOrderWithOutFillingForm"/>
      <class name="tests.NextAndPreviousButtons"/>
      <class name="tests.PlayVideoAndStopVideo"/>
      <class name="tests.SignUpTest"/>
      <class name="tests.SignUpExistingUser"/>
      <class name="tests.LogoutTest"/>
      <class name="tests.SlideImagesTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
